body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}


/* Primary Home Page Components */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    background-color: white;
    width: 11rem;
    height: 14rem;
    border: 1px solid gray;
    margin-top: 15px;
    padding: .4rem;
}

.profileContainer {
    display: flex;
    justify-content: center;
}

header {
    padding-left: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
}


/* Primary Login/Signup Page Components */

.inputContainer {
    display: flex;
    justify-content: center;
}

.formContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid darkgray;
    height: 18rem;
    width: 32rem;
    margin-top: 4.2rem;
}

.formColumn {
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    border: 2px solid darkgray;
    margin-top: .9rem;
    width: 11rem;
    height: 1.8rem;
    font-size: 21px;
    color: lightgray;
}


/* Profile Page Components */

.profile {
    background-color: white;
    border: 1px solid darkgray;
    height: 34rem;
    width: 32rem;
    display: flex;
    margin-top: 4.2rem;
}

.profile1 {
    margin: 0 auto;
}

.profileBox {
    padding-left: 1.8rem;
}


/* Other */

.hire {
    color: red;
}

h1 {
    font-size: 21px;
}

h2 {
    font-size: 18px;
}

.img {
    border-radius: 50px;
    border: 1px solid darkgray;
    margin-top: 2.5rem;
}

button {
    border: none;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}